<!-- <sidemenu></sidemenu> -->


<div class="page-title-box">
        <div class="row align-items-center">
            
            <div class="col-sm-6">
                <h4 class="page-title">Dashboard</h4>
                <ol class="breadcrumb">
                    <!-- <li class="breadcrumb-item active">Welcome to Veltrix Dashboard</li> -->
                </ol>

            </div>
            <div class="col-sm-6">
            
                <div class="float-right d-none d-md-block">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-settings mr-2"></i> Settings
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
             <!-- <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card mini-stat bg-primary text-white">
                            <div class="card-body">
                                <div class="mb-4">
                                    <div class="float-left mini-stat-img mr-4">
                                        <img src="assets/images/services-icon/01.png" alt="">
                                    </div>
                                    <h5 class="font-16 text-uppercase mt-0 text-white-50">Orders</h5>
                                    <h4 class="font-500">1,685 <i class="mdi mdi-arrow-up text-success ml-2"></i></h4>
                                    <div class="mini-stat-label bg-success">
                                        <p class="mb-0">+ 12%</p>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <div class="float-right">
                                        <a href="#" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                                    </div>

                                    <p class="text-white-50 mb-0">Since last month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card mini-stat bg-primary text-white">
                            <div class="card-body">
                                <div class="mb-4">
                                    <div class="float-left mini-stat-img mr-4">
                                        <img src="assets/images/services-icon/02.png" alt="">
                                    </div>
                                    <h5 class="font-16 text-uppercase mt-0 text-white-50">Revenue</h5>
                                    <h4 class="font-500">52,368 <i class="mdi mdi-arrow-down text-danger ml-2"></i></h4>
                                    <div class="mini-stat-label bg-danger">
                                        <p class="mb-0">- 28%</p>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <div class="float-right">
                                        <a href="#" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                                    </div>

                                    <p class="text-white-50 mb-0">Since last month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card mini-stat bg-primary text-white">
                            <div class="card-body">
                                <div class="mb-4">
                                    <div class="float-left mini-stat-img mr-4">
                                        <img src="assets/images/services-icon/03.png" alt="">
                                    </div>
                                    <h5 class="font-16 text-uppercase mt-0 text-white-50">Average Price</h5>
                                    <h4 class="font-500">15.8 <i class="mdi mdi-arrow-up text-success ml-2"></i></h4>
                                    <div class="mini-stat-label bg-info">
                                        <p class="mb-0"> 00%</p>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <div class="float-right">
                                        <a href="#" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                                    </div>

                                    <p class="text-white-50 mb-0">Since last month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card mini-stat bg-primary text-white">
                            <div class="card-body">
                                <div class="mb-4">
                                    <div class="float-left mini-stat-img mr-4">
                                        <img src="assets/images/services-icon/04.png" alt="">
                                    </div>
                                    <h5 class="font-16 text-uppercase mt-0 text-white-50">Product Sold</h5>
                                    <h4 class="font-500">2436 <i class="mdi mdi-arrow-up text-success ml-2"></i></h4>
                                    <div class="mini-stat-label bg-warning">
                                        <p class="mb-0">+ 84%</p>
                                    </div>
                                </div>
                                <div class="pt-2">
                                    <div class="float-right">
                                        <a href="#" class="text-white-50"><i class="mdi mdi-arrow-right h5"></i></a>
                                    </div>

                                    <p class="text-white-50 mb-0">Since last month</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            <!-- <div class="col-xs-12 text-md-right lead">

                    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><span
                          aria-label="Previous">‹</span></button><button type="button" role="presentation"
                        class="owl-next"><span aria-label="Next">›</span></button></div>
                    <button type="button" role="presentation" class="owl-prev"><i class="fa fa-lg fa-chevron-left"></i></button>
                    <a class="btn btn-outline-secondary prev" href="" title="go back"></a>
                    <a class="btn btn-outline-secondary next" href="" title="more"><i class="fa fa-lg fa-chevron-right"></i></a>
                </div> -->
         
               <!-- <owl-carousel [options]="{items: 3, dots: false, navigation: true}" [items]="images"
                 [carouselClasses]="['owl-theme', 'row', 'sliding']">
                 <div class="item" *ngFor="let image of mySlideImages;let i = index">
                   <div class="thumbnail-image"
                    >
                    <img src={{image}}/>
                    <img src={{image}}/>
                    <img src={{image}}/></div>
                 </div>
               </owl-carousel> -->


               
               <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                <!-- <div class="item" *ngFor="let image of images;let i= index"> -->
                    <div class="card" (click)="showtable()">
                        <div class="card-body">
                                <app-barchart></app-barchart>
                                <div class="slide-text">
                                  <h4>Opened</h4>
                                </div>
                        </div>
                    </div>
                    <div class="card" (click)="showtable()">
                        <div class="card-body">
                                <app-barchart></app-barchart>
                                <div class="slide-text">
                                  <h4>Matched</h4>
                                </div>
                        </div>
                    </div>
                    <div class="card" (click)="showtable()">
                        <div class="card-body">
                                <app-barchart></app-barchart>
                                <div class="slide-text">
                                  <h4>Grouped Matched</h4>
                                </div>
                        </div>
                    </div>
                    <div class="card" (click)="showtable()">
                        <div class="card-body">
                                <app-barchart></app-barchart>
                                <div class="slide-text">
                                  <h4>Manually Matched</h4>
                                </div>
                        </div>
                    </div>
                    <div class="card" (click)="showtable()">
                        <div class="card-body">
                                <app-barchart></app-barchart>
                                <div class="slide-text">
                                  <h4>Contra</h4>
                                </div>
                        </div>
                    </div>
                <!-- </div> -->
              </owl-carousel>

              <div class="row" *ngIf="flag">
                  
                    <!-- mdi mdi-close -->
                    <app-erptable></app-erptable>
                    <app-banktable></app-banktable>
              <span class="float-right menu-arrow" (click)="hidetable()"><i class="mdi mdi-close"></i></span> 

              </div>
   