<div class="container-fluid" style="margin: inherit;">
    <div class="page-title-box">
        <div class="row align-items-center">
            
            <!-- <div class="col-sm-12">
                <h4 class="page-title">Home</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Accounts Receivables</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                    
                </ol>
  
            </div> -->
           
        </div>
    </div>
  
    <div class="row"  style="height: 300px">
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body">
                    <div class="" style="" >
                        <div style="display: block">
                          <canvas baseChart 
                          width="700" height="300"
                          [datasets]="[{
                            data:[1064682,
                            3985265,
                            7240968,
                            124293816
                            
                            ],
                            label:'Total',
                             backgroundColor: [
                           '#F44336','#E91E63','#9C27B0','#3F51B5'
                          ]
                        
                          }]"
                          [labels]="['15-30 DAYS',' 31-60 DAYS','61-90 DAYS','90+ DAYS']"
                          [chartType]="'doughnut'"
                          [options]="widgets2"
                               >
                          </canvas>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
         
          <div class="row">
              <div class="col">
                  <div class="card" style="height: 100px">
                       
                      <div class="card-body">
  
                            <div class="mb-4">
                                    <div class="float-right mini-stat-img mr-4">
                                            <i class="fas fa-cash-register widget-icon"></i>
                                    </div>
                                    <h5 class="font-16 text-uppercase mt-0 widget-label">Today Contracts</h5>
                                    <div class="row">
                                            <div class="col-md-4">
                                                    <span class="cust-name">Count</span><br>
                                                    <span class="widget-span"> 90 </span>
            
                                            </div>
                                            <div class="col-md-8">
                                                    <span class="cust-name">Value</span><br>
                                                    <span class="widget-span"> $ 87.5k </span>
            
                                            </div>
                                          </div>
                                </div>
                         
                         
                          
                      </div>
                  </div>
              </div>
  
            </div>
            <div class="row">
                <div class="col">
                    <div class="card" style="height: 100px">
                       
                        <div class="card-body">
    
                              <div class="mb-4">
                                      <div class="float-right mini-stat-img mr-4">
                                              <i class="fas fa-cash-register widget-icon"></i>
                                      </div>
                                      <h5 class="font-16 text-uppercase mt-0 widget-label"> Contracts for Next 7 days</h5>
                                      <div class="row">
                                              <div class="col-md-4">
                                                      <span class="cust-name">Count</span><br>
                                                      <span class="widget-span"> 654 </span>
              
                                              </div>
                                              <div class="col-md-8">
                                                      <span class="cust-name">Value</span><br>
                                                      <span class="widget-span"> $ 43.1k
                                                           </span>
              
                                              </div>
                                            </div>
                                  </div>
                           
                           
                            
                        </div>
                    </div>
                </div>
    
              </div>
              <div class="row">
                    <div class="col">
                        <div class="card" style="height: 100px" >
                               
                            <div class="card-body">
        
                                  <div class="mb-4">
                                          <div class="float-right mini-stat-img mr-4">
                                                  <i class="fas fa-cash-register widget-icon"></i>
                                          </div>
                                          <h5 class="font-16 text-uppercase mt-0 widget-label">Current Month Contracts</h5>
                                          <div class="row">
                                                  <div class="col-md-4">
                                                          <span class="cust-name">Count</span><br>
                                                          <span class="widget-span"> 761 </span>
                  
                                                  </div>
                                                  <div class="col-md-8">
                                                          <span class="cust-name">Value</span><br>
                                                          <span class="widget-span"> $ 146.9K </span>
                  
                                                  </div>
                                                </div>
                                      </div>
                               
                               
                                
                            </div>
                        </div>
                    </div>
        
                  </div>
        </div>
    </div>
    </div>