.mat-card {
    background: #fff;
    color: #424242;
    max-width: 700px; 
}
.ag-body-viewport.ag-layout-normal::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.ag-body-viewport.ag-layout-normal::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.ag-body-viewport.ag-layout-normal::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
